{% extends 'setlistnav.html' %}
{% load customtags %}
{% block content %}
{% comment %} <script>
  //Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>   {% endcomment %}
<main>
    <div class="project-list">
      <h1>Setlists: </h1>
      {% if user.is_authenticated == False %}
      <p> You need to log in first </p> 
      {% else %}
        <table>
    <thead>
        <tr>
            <th>Date   </th>
            <th>Venue</th>
            <th>City</th>
            <th>Country</th>
            <th>You've Been?!</th>
            <th>Special Info</th>
        </tr>
    </thead>
   
    {% for concertdict in setlists %}
        <tbody>
            <tr>
              <td class="dateth">{{ concertdict.eventDate}}</td>  
              <td>{{ concertdict.venue }}</td>
                <td>{{ concertdict.city }}</td>
                <td>{{ concertdict.country }}</td>
                

                
              {% if user.concerts.all %}
              <td>
                    {% with added as True %}
                    {% for concert_query in user.concerts.all %}
                    {% if concert_query.concertid == concertdict.id %}
        
                    
                        <p>Concert already added!</p> {% changeStatement added as added %}
                      
                       
                        {% elif forloop.last and not added%}
                        
                        <form action="{% url 'concert_add' concertdict.id  %}" method="POST">
                            {% csrf_token %}
                            <button class="concertbutton">        
                            </button>

                          </form> 
                          {% endif %}
                          {% endfor %}
                          {% endwith %}
                </td> 
                {% else %}
                <td>                        
                    <form action="{% url 'concert_add' concertdict.id  %}" method="POST">
                    {% csrf_token %}
                    <button class="concertbutton">        
                    </button>
                  </form> 
                </td>
                {% endif %}
                <td>{{ concertdict.specialinfo }}</td>
            </tr>
        </tbody>
    {% endfor %}
    
    
    {% endif %}
</table>
{% comment %} <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> {% endcomment %}
</div>
<footer>
  
</footer>
</main>




{% endblock content %}
